@import "tailwindcss";
@plugin "daisyui";

@custom-variant dark (&:where(.dark, .dark *));

:root {
  --background: #ffffff;
  --foreground: #171717;
}

/* Define theme variables inline */
@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-roboto);
}

@theme inline {
  /* Colors */
  --color-custom-navbarcolor: #f8fafc;
  --color-custom-tagcolor: #42abff;
  --color-custom-blue: #c6eafd;
  --color-custom-darkblue: #184661;
  --color-custom-grey: #313d48;
  --color-custom-textblue: #3f9eec;
  --color-custom-border: #f8fafc;
  --color-custom-contactcolor: #2c3e50;

  /* Fonts */
  --font-helveticaNeue: "Helvetica Neue", sans-serif;
  --font-roboto: "Roboto", sans-serif;

  /* Gradients */
  /* Gradient Base Colors */
  --color-custom-gradientblue: #72d0fa;
  --color-custom-gradientwhite: #ffffff;
  --color-custom-gradientgrey: #343c44;
  --color-custom-gradientdarkgrey: #0369a1;
  --color-custom-gradientdarkblue: #184661;
  --color-custom-gradientlightblue: #c6eafd;
  --color-custom-gradientultralightblue: #bae6fd;
  --color-custom-gradientultradarkblue: #0c4a6e;

  /* Shadows */
  --shadow-custom-dark: 0 0.5rem 1rem rgba(0, 0, 0, 0.3);
  --shadow-custom-navbar: 0 1px 12px 0 rgba(8, 7, 7, 0.2);
  --shadow-custom-light: 0 0.5rem 1rem hsla(0, 0%, 100%, 0.3);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-roboto), sans-serif;
}

button {
  cursor: pointer;
}

.typing-dot {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: currentColor;
  animation: typing 1.4s infinite ease-in-out;
}

.typing-dot:nth-child(2) {
  animation-delay: 0.2s;
}

.typing-dot:nth-child(3) {
  animation-delay: 0.4s;
}

@keyframes typing {
  0%,
  80%,
  100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-6px);
  }
}
